@import "~bootstrap/dist/css/bootstrap.min.css";
#cardsContainer {
  display: flex;
  gap: 5px;
}
.cardBubbleSort {
  width: 60px;
  height: 90px;
  background-color: white;
  margin: auto;
  border: 1px;
  border-color: darkgrey;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.cardSymTop {
  text-align: start;
}
.cardSymBottom {
  text-align: end;
}
.numRandom {
  font-size: 20px;
  color: black;
}
.♦,
.♥ {
  color: red;
}
.♠,
.♣ {
  color: black;
}
